body {background: #333;}
p {
	color: whitesmoke;
	size: 15px;
}
h1 {
	text-align: center;
	color: white;
}
h2{color: whitesmoke;}
h3{color: whitesmoke;}
h4{color: whitesmoke;}
h5{color: whitesmoke;}
h6{color: whitesmoke;}
hr{color: whitesmoke;}
img {color: whitesmoke;}
