body {color: darkgray;}
p {
	color: white;
	font: sans-serif;
	size: 15px;
}
h1 {
	align-content: center;
	color: white;
}
h2{color: white;}
h3{color: white;}
h4{color: white;}
h5{color: white;}
h6{color: white;}
hr{color: white;}