body {background: #444;}
p {
	color: whitesmoke;
	size: 17px;
}
li {
	color: whitesmoke;
	size: 18px;
}
h1 {
	text-align: center;
	color: #000;
	background: #BBBBBB;
	border: solid 4px #111;

}
a {color: whitesmoke;}
h2{color: whitesmoke;}
h3{color: whitesmoke;}
h4{color: whitesmoke;}
h5{color: whitesmoke;}
h6{color: whitesmoke;}
hr{color: whitesmoke;}
img {color: whitesmoke;}
address {
	border: 3px solid rgb(1, 1, 1, 1.0);
	color: black;
	background: #CCCCCC;
	width: 280px;
}